.wrapper {
  display: flex;
  gap: 10px;
}

.link {
  text-align: center;
  display: inline-block;
  padding: 12px 20px;
  border-radius: 4px;
  gap: 10px;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.link:hover {
  transform: scale(1.1);
}

.active {
  color: white;
  background-color: goldenrod;
}
