.wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.text {
  font-size: 18px;
}

.name {
  font-weight: 800;
}

.logoutBtn {
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;

  color: black;
}

.logoutBtn:hover {
  background-color: goldenrod;
  border: 1px solid goldenrod;
  color: #ffffff;
}
