.wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.text {
  font-size: 18px;
}

.name {
  font-weight: 800;
}

.logoutBtn {
  padding: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  background-color: goldenrod;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  transition: background-color 150ms ease-in-out;
}

.logoutBtn:hover {
  background-color: goldenrod;
}

.logoutBtn:hover .logoutBtnIcon {
  transform: scale(1.3);
  transition: transform 150ms ease-in-out;
}
